<nav class="navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Carros</a>
    <div class="collapse navbar-collapse" id="navbarSupporteContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="navi-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
             Carros
          </a>
          <ul class="dropdown-menu">
            <!--<li><a class="dropdown-item" href="/carros/detalhe">Cadastro</a></li>
            <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" href="/carros">Listagem</a></li>
          </ul>
        </li>
        <li class="navi-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
             Montadora
          </a>
          <ul class="dropdown-menu">
            <!--<li><a class="dropdown-item" href="/carros/detalhe">Cadastro</a></li>
            <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" href="/Pessoa">Listagem</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<router-outlet></router-outlet>
